pkgbase = eris-cli-git
	pkgdesc = A C-based CLI that wraps your git workflow in simple commands: guided Conventional Commits, one-shot commit and push, branching, rebasing, and replayable project macros
	pkgver = r0.0000000
	pkgrel = 1
	url = https://github.com/lyszt/eris-client_core
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = cmake
	makedepends = pkgconf
	depends = swi-prolog
	depends = curl
	depends = readline
	depends = git
	depends = libgit2
	provides = eris-cli
	provides = eris
	conflicts = eris-cli
	conflicts = eris-cli-bin
	options = !lto
	source = eris-client_core::git+https://github.com/lyszt/eris-client_core.git
	sha256sums = SKIP

pkgname = eris-cli-git
