name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install System Headers
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake libssl-dev libcurl4-openssl-dev zlib1g-dev

    - name: Run Iris Bootstrap Build
      run: make build

    - name: Verify Binary
      run: test -f ./iris
