name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake libssl-dev libcurl4-openssl-dev

    - name: Configure CMake
      # We tell CMake to prepare the build in the 'build' folder
      run: cmake -B build -S .

    - name: Build Iris
      # This is the "machine gun" build command
      run: cmake --build build --target iris

    - name: Test
      # If you have CTest set up, run this. Otherwise, just check if binary exists.
      run: test -f ./iris || test -f ./build/iris
